**Print statments**

- print is a inbuilt function, to see the answers
- in jupyter notebook we can see lastest value with out using print
- if u want to see all the values we need to use print
- in VS code ,Pycharm there is no markdown options
- if you want to see any answer, we need to use print statement

In [15]:
num1=100
num2=200
num1
num2

200

In [5]:
print(num1)

100

In [17]:
print(num1)
print(num2)

100
200

In [19]:
print(num1+num2)

300

In [21]:
print(num1,num2)

100 200

In [25]:
print('hello')

hello

In [27]:
print('hello','bye',num1,num2,10,20)

hello bye 100 200 10 20

In [35]:
a=10
b=20
c=30
a+b
# the addition of 10 and 20 is 30
print(" the addiction of 10 and 20 is 30")
print("the addition of",a)
print("the addiction of",a,'and',b,'is',c)

 the addiction of 10 and 20 is 30
the addition of 10
the addiction of 10 and 20 is 30

In [37]:
a=100
b=200
c=300
print("the addiction of",a,'and',b,'is',c)

the addiction of 100 and 200 is 300

In [39]:
name='chandu'
age='21'
city='addanki'
print("my name is chandu, Im 10n years old and i came from hyd")
print("my name is", name,"Im",age,"year old and i came from",city)

my name is chandu Im 21 year old and i came from addanki

**Format method**

In [46]:
a=10
b=20
c=a+b
# how you want to write the print 
# the addition of 10,20 is 30
print("the addiction of 10,20 is 30")
print("the addition of {},{} is {}")
print("the addition of {},{} is {}".format(a,b,c))

the addiction of 10,20 is 30
the addition of {},{} is {}
the addition of 10,20 is 30

In [52]:
name='chandu'
age=21
city='addanki'
print("my name is {},im {} years old and i came from {}".format(name,age,city))

my name is chandu,im 21 years old and i came from addanki

In [60]:
a=10
b=20
c=a+b
print("the addition of {} ,{} is {}".format(a,b,c))
c=a*b
print("the multiplication of {},{} is{}".format(a,b,c))
c=a%b
print("the division of {} ,{} is{}".format(a,b,c))
c=a-b
print("the sub of{},{} is{}".format(a,b,c))

the addition of 10 ,20 is 30
the multiplication of 10,20 is200
the division of 10 ,20 is10
the sub of10,20 is-10

## F string method

In [69]:
name='chandu'
age=21
city='addanki'
print("my name is{},im {} years old and i came from {}")
print("my name is{name},im {age} years old and i came from {city}")
print(f"my name is {name},im {age} years old and i came from {city}")

my name is{},im {} years old and i came from {}
my name is{name},im {age} years old and i came from {city}
my name is chandu,im 21 years old and i came from addanki

In [71]:
a=10
b=20
c=a+b
print(f"the addition of {a} ,{b} is {c}")
c=a*b
print(f"the multiplication of {a},{b} is{c}")
c=a%b
print(f"the division of {a} ,{b} is{c}")
c=a-b
print(f"the sub of{a},{b} is{c}")

the addition of 10 ,20 is 30
the multiplication of 10,20 is200
the division of 10 ,20 is10
the sub of10,20 is-10

In [77]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
print(f"the addtion  of {n1} ,{n2} is {add}")
print(f"the substration  of {n1} ,{n2} is {sub}")
print(f"the multipilication  of {n1} ,{n2} is {mul}")

the addtion  of 100 ,200 is 300
the substration  of 100 ,200 is -100
the multipilication  of 100 ,200 is 20000

### End

In [81]:
print(10)
print(20)

10
20

In [85]:
print(10,end=' ---->  ')
print(20)

10 ---->  20

In [89]:
print(10,end=' ')
print(20,end=' ')
print(30)

10 20 30

 
 **Separator method**

In [98]:
#seperating the all values inside print statements
print(10,20,30,sep='  ')

10  20  30

In [100]:
print(10,end=' * ')
print(20,30,sep=' + ')

10 * 20 + 30

In [104]:
print(10,end='+')
print(20,end='=')
print(30,sep='..')

10+20=30

In [107]:
print(10,20,sep='+',end='=')
print(30,end='.')

10+20=30.

- format method
- f string method
- separator method
- end method