**Data types**
- In python we have many data types are there 
  - integer
  - float
  - string
  - boolen

## integer
- it will consider the data type automatically

In [9]:
number=100
#in order to check the type of a variable we will use 
#in built function calles as type

In [11]:
type(number)

int

In [13]:
type(1000)

int

- in maths we have different types of representations availble
      **the following number system are**
   - binary
   - octa
   - decimal
   - hexa

## Binary
 - Binary has bi which indicates two
 - we have total 0 to 9 digits  to represent any number
 - from there we will take only first two digits i.e. 0 to 1
 - example :0b101
 - wrong representataion meand 0b002

In [23]:
0b1001

9

In [25]:
0b101

5

In [27]:
0b100001

33

# Digital Logic Design
4    2   1   num
0    0   0    0
0    0   1    1
0    1   0    2
0    1   1    3
1    0   0    4
1    0   1    5
1    1   0    6
1    1   1    7

**Octa**
- Octa means 8
- we have 0 to 9 digits to represent any number :0,1,2,3,4,5,6,7,8,9
- from therewe will take only starting 8 digits i.e.0 to 7
- example :0o123,0o567,0o10006
- wrong representation is:0o786 because 7,6,8

In [5]:
0o786

SyntaxError: invalid digit '8' in octal literal (3171049937.py, line 1)

In [7]:
0o123

83

In [9]:
0o456

302

In [11]:
0O345

229

**Hexa**
- Hexa means 16- Wee have 0 to99 digits to represent any number :0,1,2,3,4,5,6,7,89 9- After 9 we will use A to F A:10,B:11,C:12,D:13,E:14,F:15  - E
examplOx123,Oxabc,Ox9ad 0- W6
wrong representationOxFGH 6,8

In [21]:
0Xb52

2898

**float**

In [26]:
num=10.5
type(num)

float

In [28]:
type(10)

int

In [30]:
type(10.5)

float

In [32]:
10e1  #10* <10> = 100
10e2  #10*<100> =1000
10e4  #10*<10000>=100000

100000.0

In [34]:
print(10)
print(20)
# if you want to see all the answer apply print

10
20

In [36]:
10
20
# in juputer note book by default last value will print

20

In [38]:
10,20

(10, 20)

In [44]:
print(10e1)
print(10e2)
print(10e3)
print(10e4)

100.0
1000.0
10000.0
100000.0

In [46]:
10e+1
10e+2
10e+3

10000.0

In [48]:
10E2

1000.0

In [52]:
10e-1 #10/<10> = 1
10e-2 #10/<100> =0.1
10e-3 #10/<1000>=0.01
10e-4 #10/<10000>=0.001

0.001

In [56]:
print(10e-1)
print(10e-2)
print(10e-3)
print(10e-4)

1.0
0.1
0.01
0.001

- in the machine learning we often see the values in exponenal form
- in some  cases we need to search for zero values
- in ML with python

**String**

- string represents english charactersticts generaly 
- string will represent with qoutes 
       - single qoutes
       - double qoutes
       - triple qoutes

In [65]:
str1='python'
str1

'python'

In [67]:
type(str1)

str

In [69]:
str1="python"
str1

'python'

- we can represent in any way but pytho will give in single qoutes

In [75]:
print(str1)
print

python

In [77]:
str3='abc123'
type(str3)

str

In [79]:
str2='abc123'
print(str2)

abc123

In [81]:
type('10'),type('20'),type('20.5'),type('apple')

(str, str, str, str)

- any data type or any value is provided by qoutes means
- it becomes a string only
- string always in red colour
- variables always in red colour
- keyword or numbers always in green colour

In [84]:
vicky='vicky'
# 'vicky' is english type where letters are stored in variable name cqalled vicky

In [94]:
 str1= "i like 'Python'"
print(str1)

i like 'Python'

In [98]:
str1='i like "python"'
print(str1)

i like "python"

- if u want to highlight any word represent entire string in single qoutes the highlited word in double qoute  vice versa

hai
how are u

In [110]:
str1='hai
    how are u
    i am good'

SyntaxError: unterminated string literal (detected at line 1) (680361160.py, line 1)

In [108]:
str1="hai 
      how are u
    i am good"

SyntaxError: unterminated string literal (detected at line 1) (7920327.py, line 1)

In [114]:
str1="""hai
         how are u
         i am good"""
str1

'hai\n         how are u\n         i am good'

In [116]:
print(str1)

hai
         how are u
         i am good

- triple qoutes is used for write a multiline comments
- this is called as **Docstring**
- in order to write a story in juputer notebook we have a markdown 
- but other platforms like VScode ,PYcharm we dont have a markdown
- then how can we write a story :by using triple qoutes
- if any person writing some thing using triple qoutes ,which indicates

**Boolean**

- computer takes the values in binary format(1,0)
- computer gives the answer in boolen format  
        - true  
        - false
- true indicates 1
- false indicates 0

In [127]:
val=True 
type(val)

bool

In [129]:
val1=False
type(val1)

bool

In [131]:
true='True'
TRUE=True
true,TRUE # two are variables

('True', True)

In [133]:
type(true),type(TRUE)

(str, bool)

In [139]:
a=10
b=10.5
c='10'
d=True
type(a),type(b),type(c),type(d)

(int, float, str, bool)