**variables**

- variables are used to stored the values and change the values
- varryy means varrying

In [5]:
number=100
number

100

In [7]:
number=200
number

200

In [9]:
chandu=600
#600 is value stored in a variable chandu

In [11]:
chandu=60000
chandu

60000

In [14]:
# type c
# and entre tab button  to get names

In [16]:
NUMBER=200
NUMBER

200

In [18]:
NUMber=400
NUMber

400

In [22]:
123number=500
123number
#variables does not have prefixs
#variables should not start with numbers

SyntaxError: invalid decimal literal (1737628933.py, line 1)

In [24]:
number*one=500
number*one
#variables does not have spl character

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3864411207.py, line 1)

In [28]:
number_one=600
number_one
#only underscore can represent as variables

600

- variables are case senstivie
- varibles can represent as captial letters
- variables can represnt as small lasts 
- variables can have both combination
- python will condiser the latest values
- variables does not contain any spl character, ecpect underscore
- variables have number at last
- variable does not contain any space between the letters:number one
- only underscore can be used as variables
- keywords and